.*
*.pyc
/dev
/app/log/*
/app/tmp/*
app/data/*
.coverage
bi_app.egg-info/
bi_daedalos.egg-info/
dist/
nosetests.xml
src/
.elasticbeanstalk/

# PyCharm IDE
.idea

.dbeaver/
.project
.pydevproject
.settings/
/build
test/
app/out/
